<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>New card</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!isCardValid()" (click)="create()">Create</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [ngStyle]="{'background-image': card.image ? 'url(&quot;'+card.image+'&quot;)' : 'linear-gradient(0deg, #4158D0 0%, #4158D0 100%)'}">
    <!--<img *ngIf="card.image" [src]="card.image">-->
    <ion-card-title (click)="selectPicture()">Select picture</ion-card-title>
  </ion-card>
  <ion-item>
    <ion-label position="floating">Card title</ion-label>
    <ion-input [(ngModel)]="card.title" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Card text content</ion-label>
    <ion-textarea [(ngModel)]="card.description"></ion-textarea>
  </ion-item>
</ion-content>
