<ion-card long-press (contextmenu)="onLongPress()" (onLongPress)="onLongPress()">
  <img *ngIf="card.image && base64Picture" [src]="base64Picture">
  <ion-card-header>
    <ion-card-title>{{ card.title }}</ion-card-title>
    <ion-card-subtitle>{{ getFormattedDate()}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content *ngIf="card.description">
    {{ card.description }}
  </ion-card-content>
  <ion-list>
    <workizy-linklist-element *ngFor="let link of card.linklist" [link]="link"></workizy-linklist-element>
    <workizy-checklist-element *ngFor="let check of card.checklist"  [checklistElement]="check"></workizy-checklist-element>
  </ion-list>

</ion-card>
