<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>To-Do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">To-Do</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-lg="4" offset-lg="4" size-md="6" offset-md="3">
        <ion-card class="nothing">
          <ion-icon class="nothing" name="checkmark-circle-outline"></ion-icon>
          <ion-card-title class="nothing">You're all set!</ion-card-title>
          <ion-card-subtitle class="nothing">Add another thing to do or have break, you deserved it</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
