<ion-header>
  <ion-navbar color="{{this.settings.accentColor}}">
    <ion-title>{{list.title}}</ion-title>
    <ion-buttons end>
      <button (click)="deleteList()" ion-button icon-only color="royal">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of this.list.items" col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3>
        <ion-card (click)="showItem(item)">
          <img *ngIf="item.picture != null" src="{{item.picture}}"/>
          <ion-card-content>
            <ion-card-title *ngIf="item.title != null">{{item.title}}</ion-card-title>
            <p *ngIf="item.textContent != null">{{item.textContent}}</p>
          </ion-card-content>
          <ion-list *ngIf="item.links != null && item.links.length > 0">
            <button *ngFor="let link of item.links.slice(0,3)" (click)="linkUtils.openLink(link.content)" ion-item>
              <ion-icon name="{{linkUtils.getIcon(link)}}" item-start></ion-icon>
              <ion-label>{{link.content}}</ion-label>
            </button>
          </ion-list>
          <ion-list *ngIf="item.checklistitems != null && item.checklistitems.length > 0">
            <button *ngFor="let task of item.checklistitems.slice(0,3)" ion-item>
              <ion-checkbox item-start [ngModel]="task.isChecked" disabled color="{{this.settings.accentColor}}"></ion-checkbox>
              <ion-label>{{task.text}}</ion-label>
            </button>
          </ion-list>
          <ion-item>
            <ion-col *ngIf="item.reminderDate != null" align-self-center text-center>
              <ion-icon name="clock" item-start></ion-icon>
              <ion-note>
                {{getFormattedDate(item.reminderDate)}}
              </ion-note>
            </ion-col>
            <button color="{{this.settings.accentColor}}" (click)="deleteItem(item)" ion-button icon-start clear item-end>
              <ion-icon name="trash"></ion-icon>
              {{ 'Delete' | translate }}
            </button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button (click)="showNewItem()" ion-fab color="{{this.settings.accentColor}}"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
