<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="welcome">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'tabs.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todo">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>{{ 'tabs.todo' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ 'tabs.search' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
