<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'Local lists' | translate }}
    </ion-title>
    <ion-buttons end>
      <button *ngIf="viewmode" (click)="toggleViewMode()" ion-button icon-only color="royal">
        <ion-icon name="apps"></ion-icon>
      </button>
      <button *ngIf="!viewmode" (click)="toggleViewMode()" ion-button icon-only color="royal">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <ion-grid *ngIf="!viewmode">
    <ion-row>
      <ion-col *ngFor="let list of this.sm.localLists" col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3>
        <ion-card (click)="showList(list)">
          <img *ngIf="list.coverSource == 0" src="assets/covers/{{list.cover}}"/>
          <img *ngIf="list.coverSource == 1" src="{{list.cover}}"/>
          <div class="card-title">{{list.title}}</div>
          <div class="card-subtitle">{{list.getElementCount()}} items</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="viewmode">
    <ion-item *ngFor="let list of this.sm.localLists">
      <ion-thumbnail item-start>
        <img *ngIf="list.coverSource == 0" src="assets/covers/{{list.cover}}"/>
        <img *ngIf="list.coverSource == 1" src="{{list.cover}}"/>
      </ion-thumbnail>
      <h2>{{list.title}}</h2>
      <p>{{list.getElementCount()}} items</p>
      <button (click)="showList(list)" ion-button clear item-end><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="showNewList()"ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
