<ion-header>
  <ion-navbar color="{{this.settings.accentColor}}">
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!settings.isConnected">
    <ion-card-content>
      <ion-card-title>
        {{ 'Account' | translate }}
      </ion-card-title>
      <p>
        {{ 'You are not connected to a Workizy account. Sign in now to enable synchronization between your devices !' | translate }}
      </p>
    </ion-card-content>
    <ion-item>
      <button color="{{this.settings.accentColor}}" (click)="signIn()" ion-button icon-start clear item-end>
        <ion-icon name="log-in"></ion-icon>
        {{ 'Sign In' | translate }}
      </button>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="settings.isConnected">
    <ion-card-content>
      <ion-card-title>
        {{ 'Account' | translate }}
      </ion-card-title>
      <p>
        {{ 'Hi ' | translate }}{{settings.user.displayName}} !<br>
        {{ 'You are connected to the following Workizy account : ' | translate }}{{settings.user.email}}
      </p>
    </ion-card-content>
    <ion-item>
      <button color="{{this.settings.accentColor}}" (click)="logout()" ion-button icon-start clear item-end>
        <ion-icon name="log-out"></ion-icon>
        {{ 'Log Out' | translate }}
      </button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ 'Appearance' | translate }}
      </ion-card-title>
      <ion-item>
        <ion-label>{{ 'Dark Theme' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="darkTheme" checked="false" color="{{this.settings.accentColor}}" (ionChange)="applyTheme()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Accent color' | translate }}</ion-label>
      </ion-item>
      <button *ngFor="let col of accentColors" ion-button round color="{{col}}" (click)="setAccentColor(col)"><ion-icon *ngIf="settings.accentColor == col" name="checkmark"></ion-icon></button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ 'About Workizy' | translate }}
      </ion-card-title>
      <p><b>{{ 'Workizy Beta 0.2' | translate }}</b> - {{ 'Build 071119' | translate }}</p>
      <p>{{ 'Developped and maintained with ❤ by Axel Maczkowiak' | translate }}</p>
      <ion-list>
        <button (click)="linkUtils.openLink('https://twitter.com/workizy')" ion-item>
          <ion-icon name="logo-twitter" item-start></ion-icon>
          <ion-label>@workizy</ion-label>
        </button>
        <button (click)="linkUtils.openLink('https://twitter.com/amaczkowiak')" ion-item>
          <ion-icon name="logo-twitter" item-start></ion-icon>
          <ion-label>@amaczkowiak</ion-label>
        </button>
        <button (click)="linkUtils.openLink('https://support.amacz13.com')" ion-item>
          <ion-icon name="help-circle" item-start></ion-icon>
          <ion-label>{{ 'Support Center' | translate }}</ion-label>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
