<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!settings.isConnected">
    <ion-card-content>
      <ion-card-title>
        {{ 'Account' | translate }}
      </ion-card-title>
      <p>
        {{ 'You are not connected to a Workizy account. Sign in now to enable synchronization between your devices !' | translate }}
      </p>
    </ion-card-content>
    <ion-item>
      <button (click)="signIn()" ion-button icon-start clear item-end>
        <ion-icon name="log-in"></ion-icon>
        {{ 'Sign In' | translate }}
      </button>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="settings.isConnected">
    <ion-card-content>
      <ion-card-title>
        {{ 'Account' | translate }}
      </ion-card-title>
      <p>
        {{ 'You are connected to the following Workizy account : ' | translate }}{{settings.user.email}}
      </p>
    </ion-card-content>
    <ion-item>
      <button (click)="logout()" ion-button icon-start clear item-end>
        <ion-icon name="log-out"></ion-icon>
        {{ 'Log Out' | translate }}
      </button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ 'Appearance' | translate }}
      </ion-card-title>
      <ion-item>
        <ion-label>{{ 'Dark Theme' | translate }}</ion-label>
        <ion-toggle disabled [(ngModel)]="darkTheme" checked="false"></ion-toggle>
      </ion-item>
    </ion-card-content>
    <ion-item>
      <button disabled (click)="applyTheme()" ion-button icon-start clear item-end>
        <ion-icon name="save"></ion-icon>
        {{ 'Apply' | translate }}
      </button>
    </ion-item>
  </ion-card>
</ion-content>
