page-first-start {

  ion-content {
    background-color: #488aff !important;
  }

  img {
    padding: 10% 10% 10% 10%;
  }

  a {
    color: white;
  }

  h1 {
    color: white;
    width: 100%;
    text-align: center;
  }

  h3 {
    color: white;
    width: 100%;
    text-align: center;
  }

  h4 {
    color: white;
    width: 100%;
    text-align: center;
  }

  h5 {
    color: white;
    width: 100%;
    text-align: center;
  }

  hr {
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 0px;
  }

  ion-fab {
    z-index: 1000;

  }

  button {
    margin-top: 1em !important;
  }

  ion-item {
    background-color: transparent !important;
    padding: 0 !important;

    .label {
      color: #FFF !important;
    }

    ion-label{
      color: #FFF !important;
    }

    ion-input {
      background-color: transparent !important;
      color: #FFF !important;
    }
  }

}
