<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">{{ 'general.button.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'page.list-creation.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!list.title" (click)="createList()">{{ 'general.button.create' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">{{ 'page.list-creation.input-list-title' | translate }}</ion-label>
    <ion-input [(ngModel)]="list.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-chip *ngFor="let t of list.tags; let i = index;">
      <ion-label>{{ t.name }}</ion-label>
      <ion-icon name="close-outline" (click)="removeTag(i)"></ion-icon>
    </ion-chip>
    <ion-input type="text" [(ngModel)]="tag" (keyup.Space)="addTag(tag)" (keyup.Enter)="addTag(tag)" [placeholder]="getTagsPlaceholder()"></ion-input>
  </ion-item>
  <ion-slides #slider pager="false">
    <ion-slide *ngFor="let background of backgrounds">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <workizy-list [list]="getListPreviewWithBackground(background)" [preview]="true"></workizy-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
