<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'Synced lists' | translate }}
    </ion-title>
    <ion-buttons end>
      <button *ngIf="viewmode" (click)="toggleViewMode()" ion-button icon-only color="royal">
        <ion-icon name="apps"></ion-icon>
      </button>
      <button *ngIf="!viewmode" (click)="toggleViewMode()" ion-button icon-only color="royal">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-fab right bottom>
    <button (click)="showNewList()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
