<ion-header>
  <ion-navbar color="{{this.settings.accentColor}}">
    <ion-title>{{ 'New Item' | translate }}</ion-title>
    <ion-buttons left>
      <button (click)="close()" ion-button icon-only color="royal">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-padding>
      <ion-item>
        <ion-label floating>{{ 'Title' | translate }}</ion-label>
        <ion-input [(ngModel)]="title" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Text' | translate }}</ion-label>
        <ion-textarea [(ngModel)]="textContent" type="text"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Music' | translate }}</ion-label>
        <ion-textarea [(ngModel)]="music" type="text"></ion-textarea>
      </ion-item>

      <button ion-item (click)="choosePicture()">
        {{ 'Picture' | translate }}
      </button>

      <ion-item>
        <ion-label>{{ 'Reminder' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="reminderEnabled" color="{{this.settings.accentColor}}"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="reminderEnabled">
        <ion-label>{{ 'Reminder date' | translate }}</ion-label>
        <ion-datetime min="{{todaysDate}}" max="{{maxDate}}" displayFormat="{{'DateFormat' | translate}}" [(ngModel)]="reminderDate" cancelText="{{'Cancel' | translate}}" doneText="{{'Done' | translate}}"></ion-datetime>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-item-sliding *ngFor="let link of links">
        <button (click)="linkUtils.openLink(link.content)" ion-item>
          <ion-icon name="{{linkUtils.getIcon(link)}}" item-start></ion-icon>
          <ion-label>{{link.content}}</ion-label>
        </button>
        <ion-item-options side="right">
          <button ion-button color="light">
            <ion-icon name="create"></ion-icon>
            {{ 'Edit' | translate }}
          </button>
          <button ion-button color="danger" (click)="deleteLink(link)">
            <ion-icon name="trash"></ion-icon>
            {{ 'Remove' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div padding>
      <button color="{{this.settings.accentColor}}" (click)="createLink()" ion-button block>{{ 'Add link' | translate }}</button>
    </div>

    <ion-list>
      <ion-item-sliding  *ngFor="let task of tasks">
        <ion-item>
          <ion-checkbox item-start [ngModel]="task.isChecked" (click)="toggleCheck(task)" color="{{this.settings.accentColor}}"></ion-checkbox>
          <ion-label>{{task.text}}</ion-label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light">
            <ion-icon name="create"></ion-icon>
            {{ 'Edit' | translate }}
          </button>
          <button ion-button color="danger" (click)="deleteTask(task)">
            <ion-icon name="trash"></ion-icon>
            {{ 'Remove' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div padding>
      <button (click)="createTask()" ion-button block color="{{this.settings.accentColor}}">{{ 'Add task' | translate }}</button>
    </div>
</ion-content>

<ion-footer padding>
  <button (click)="createItem()" ion-button block color="{{this.settings.accentColor}}">{{ 'Create' | translate }}</button>
</ion-footer>
